.main-container {
  border: 2px solid;
  display: flex;
  margin: 16px auto ;
  width: 85%;
}
.resume-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* HEADER CSS START */
.resume-data__header {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 32px 32px;
  width: 100%;
  background-color: #a9bbd2;
  border-bottom: black solid 2px;
}
.resume-data__header__nested_box_1 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 90%;
  padding: 32px 32px;
}

.resume-data__header__nested_box_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 90%;
}

.resume-data__header__name {
  font-size: 72px;
  /*padding: 32px 0;*/
}

.resume-data__header__role {
  font-size: 32px;
}
/* HEADER CSS END */

/* INFO SECTION CSS START */
.resume-body {
  display: flex;
}

.resume-body__personal-info {
  display: flex;
  flex-grow: 4;
  background-color: #d9e2ec;
  flex-direction: column;
  align-items: center;
}

.resume-body__experience {
  display: flex;
  flex-grow: 6;
}

/* INFO SECTION > CONTACT CSS START */
.resume-body__personal-info__body__contact {
  padding: 32px 0;
}
.resume-body__personal-info__contact__header {
  margin-bottom: 8px;
}
/* INFO SECTION > CONTACT CSS END */


/* INFO SECTION CSS END */
